<div class="container-fluid">
  <div class="row topheader">
    <div class="col-md-12 text-center">
      <h1>Sporting News</h1>
    </div>
  </div>
  <div class= "row header bottomheader">
    <div class="col-md-12 text-center">
      <button id="scrapeESPN" class= "btn btn-danger btn-lg">Scrape ESPN</button>
      <button id="scrapeFox" class= "btn btn-primary btn-lg">Scrape FOX Sports</button>
    </div>
  </div>
</div>
<div class="container">
  <div class= "row">
    <div class="col-md-12">
      <div id="notes"></div>
      <div id="prevNotes"></div>
      {{#each newsScrape}}
        <div class="well">
          <h3 data-id= "{{this._id}}"><span class="listInfo">{{this.articleNumber}}. {{this.date}}-</span> <span class="listingTitle">{{this.title}}</span></h3>
          <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>

