<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Scrape The News</h1>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-12 text-center">
      <button id="scrapeESPN" class= "btn btn-danger">Scrape ESPN</button>
      <button id="scrapeFox" class= "btn btn-primary">Scrape FOX Sports</button>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-12">
      <div id="notes"></div>
      <div id="prevNotes"></div>
      {{#each newsScrape}}
        <h3 data-id= "{{this._id}}">{{this.articleNumber}}. {{this.date}}- {{this.title}}</h3>
        <a href="{{this.link}}" target="_blank">{{this.link}}</a>
         <div id="notes"></div>
         <div id="prevNotes"></div>
      {{/each}}
    </div>
  </div>
</div>

